---
import { getCollection } from 'astro:content';
const allSessions = await getCollection('sessions');

const audiences = [
  ...new Set(allSessions.map((session) => session.data.audiences).flat()),
];
const technos = [
  ...new Set(allSessions.map((session) => session.data.technos).flat()),
];
const tracks = [
  ...new Set(allSessions.map((session) => session.data.tracks).flat()),
];
---

<div style='display: flex; justify-content: space-between;'>
  <div class='tags'>
    <h5>Audiences</h5>
    {
      audiences.map((audience) => (
        <p class='tag'>
          <a href={`/audiences/${audience}`}>{audience}</a>
        </p>
      ))
    }
  </div>
  <div class='tags'>
    <h5>Technos</h5>
    {
      technos.map((techno) => (
        <p class='tag'>
          <a href={`/technos/${techno}`}>{techno}</a>
        </p>
      ))
    }
  </div>
  <div class='tags'>
    <h5>Tracks</h5>
    {
      tracks.map((track) => (
        <p class='tag'>
          <a href={`/tracks/${track}`}>{track}</a>
        </p>
      ))
    }
  </div>
</div>
